html,
body {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

:root {
  --white: rgba(255, 255, 255, 0.645);
  --light: #eee;
  --green: #3a7755;
  --green2: rgba(41, 104, 4, 0.826);
}

body {
  background-color: var(--green);
  overflow: hidden;
}

.container {
  width: 1200px;
  border: 1px solid var(--white);
  max-width: 100%;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 200px auto 300px;
  padding: 20px;
  border-radius: 20px;
  min-height: 80vh;
}

.container .menu {
  background: var(--white);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: 1px solid var(--light);
}

.container .center {
  background: var(--white);
}

.container .cart {
  background: var(--white);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 1px solid var(--light);
}

.menu .logo {
  padding: 30px;
  font-style: italic;
  font-weight: 600;
  font-size: x-large;
}

.menu ul {
  padding: 0 40px;
  list-style: none;
  border: 1px solid var(--light);
}

.menu ul li {
  padding: 10px 0;
}

.menu ul li i {
  margin-right: 20px;
  font-size: x-large;
}

.menu ul li.active {
  color: var(--green2);
  border-bottom: #1b551b 2px solid;
}

.menu ul li:hover {
  color: var(--green2);
  border-bottom: #1b551b 2px solid;
}
/* Menu End */

/* Center */
.center .search {
  margin: auto;
  padding: 20px 30px;
  width: 60%;
  height: 50px;
}

.center .search .form {
  width: max-content;
  border: 1px solid var(--white);
  border-radius: 20px;
  padding-left: 15px;
  color: var(--green2);
}

.center .search .form input {
  border: none;
  padding: 0 20px;
  outline: none;
  height: 20px;
}

.center .search .form button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--green);
  border: none;
  text-align: center;
  color: var(--white);
}

/* ========= */

.center h2 {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.center .list {
  padding: 0 20px 20px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}

.center .item {
  background-color: antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% auto;
  padding: 10px;
  height: 100%;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  max-width: 100%;
  height: auto;
  padding: 5px;
  width: 200px;
}

.item .content .tittle {
  font-weight: boldx;
}

.item .content div.decs {
  font-size: small;
  opacity: 0.7;
  inline-size: 150px;
  overflow-wrap: break-word;
  margin-top: 5px;
}

.item .content .price {
  color: var(--green);
  letter-spacing: 2px;
  font-weight: 500;
  font-size: medium;
}

.item .content .count {
  width: 60%;
  border-radius: 5px;
  border: 1px solid var(--light);
  outline: none;
  margin-right: 10px;
  margin-top: 5px;
}

.item .content div .add {
  border-radius: 3px;
  border: none;
  background-color: var(--green2);
  margin-top: 5px;
  color: white;
  padding: 5px;
}

.item .content div .remove {
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: var(--green2);
  background-color: var(--white);
}

.tittle {
  font-size: 0.9rem;
  font-weight: 600;
}

.decs {
  padding: 5px 5px;
  font-weight: 600;
  line-height: 1rem;
  padding: 0;
}

.price {
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
}

.details {
  font-size: 0.8rem;
}

/* End Center */

/* Cart */

.cart h2 {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.cart div.total {
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

#cartItem .item {
  background-color: antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 10px;
  height: 100%;
}

#cartItem .img{
  display: flex;
  justify-content: center;
  align-items: center;
}

#cartItem .item .img img{
  max-width: 100%;
  height: auto;
  padding: 5px;
  width: 200px;
}